{
    "type": "SqlActivity",
    "id": "{{ task_index }}_{{#filename_without_extension}}{{ file_path }}{{/filename_without_extension}}",
    "scriptUri": "{{#deployed_path}}{{ file_path }}{{/deployed_path}}"
}
